@import url('https://fonts.google.com/specimen/Pangolin?selection.family=Pangolin|Poppins:ital,wght@1,500&query=poppins&sidebar.open=true');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
/* Portfolio body*/

section {
    padding: 100px;
}
.banner {
    position: relative;
    min-height: 100vh;
    background: url(images/fedrick.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 4em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 3.5em;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    margin-left: 18px;
}
.banner a
{
    font-size: 2em;
    font-weight: 700;
}
.btn
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}
.btn:hover
{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.btn span
{
    position: absolute;
    display: block;
}
.btn span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
    
}
.btn span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
    
}
.btn span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
    
}
.btn span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
    
}

/*limit*/
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 22px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    font-size: 22px;
    position: relative;
    display: inline-block;
    margin: 0  15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    color: #111;
}
.heading h2
{
    font-weight: 600;
    font-size: 40px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    padding-right: 30px;
}
.contentBx h3
{
    font-size: 30px;
    margin-bottom: 10px;
}
.w50
{
    min-width: 50%;
}
/* Quote Box */
.quotebox{
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}
.quotebox .container .tarun
{
    display: flex;
    margin-right: 0;
    color: #000;
    font-size: 70px;
    z-index: 4;
    
}
.quote{
    margin-top: 15%;
    width: 1200px; 
    min-height: 600px;
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 4;
}
.quote .qbox{
    position: absolute;
    margin: 30px;
    left: 33%;
    width: 600px;
    height: 300px;
    grid-row-end: 400px;
    background: #fff;
    overflow: hidden;
    transition: .5s;
    z-index: 5;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, .2);
}
.quote .qbox:hover {
    box-shadow: -20px 50px 100px rgba(0, 0, 0, .5);
}

.quote .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.quote .qbox.box1:hover ~ .bg
{
    opacity: 1;
    background: linear-gradient(#03A9F4,#E91E63);
    z-index: 1;
}
.quote .qbox.box1:hover
{
    opacity: 1;
    background: linear-gradient(#03A9F4,#E91E63);
    z-index: 4;
}
.quote .qbox p {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: 'Cinzel', serif;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .qbox:hover p
{
    color: #fff;
    letter-spacing: 2px;
    transition: 0.5s;
}
.quote .qbox h2{
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: 5.5px;
    font-family: 'Water Brush', cursive;
}
.quote .qbox:hover h2
{
    color: #fff;
}
.quote .qbox::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
}
/* Quote box end */

/* Skills Section */
.skills
{
    background: #101010;
}
.skills .heading
{
    color: #fff;
}
.skSec
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.container, .container2
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container .card, .container2 .card
{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover, .container2 .card:hover
{
    transform: translateY(-20px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}
.container .card:before, .container2 .card:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
}
.percent
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 10;
}
.percent .number
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2
{
    color: #777;
    font-weight: 700;
    font-size: 30px;
    transition: 0.5s;
}
.card:hover .percent .number h2
{
    color: #fff;
    font-size: 60px;
}
.percent .number h2 span
{
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
.card:hover .percent .number h2 span
{
    color: #fff;
}
.text
{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
.card:hover .text
{
    color: #fff;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle
{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke: #ff04f7;
}
.card:nth-child(4) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #E3EA6E;
}
.card:nth-child(5) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #EC8716;
}
.container2 .card:nth-child(1) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #EC1616;
}
.container2 .card:nth-child(2) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #fff;
}
.container2 .card:nth-child(3) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #01FE6F;
}
.container2 .card:nth-child(4) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #18F5E9;
}
/* Skills Section end */

/* Projects Section */
.projects
{
    background-image: radial-gradient( circle farthest-corner at 90.8% 12.5%,  rgba(3,19,46,1) 0%, rgba(28,19,19,1) 90% );
    /* background: #83a4d4;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #b6fbff, #83a4d4); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
} 
.projects .heading
{
    color: #fff;
    letter-spacing: 15px;
}
.proj
{
    margin: 0;
    padding: 0;
    /* background: #; */
}
.pcontainer
{
    max-width: 1150px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#vtimg
{
    height: 400px;
}
.pcontainer .card
{
    position: relative;
    margin: 20px 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5);
}
.pcontainer .card::before
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: #fff;
    z-index: -1;
}
.pcontainer .card::after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(100px);
}
.pcontainer .card:nth-child(1)::before,
.pcontainer .card:nth-child(1)::after
{
    background: linear-gradient(235deg, #00bcd4,#00bcd4, #00bcd4); /*#010615*/
}
.pcontainer .card:nth-child(2)::before,
.pcontainer .card:nth-child(2)::after
{
    background: linear-gradient(235deg, #FF0000,#a12509, #FF0000);
}
.pcontainer .card:nth-child(3)::before,
.pcontainer .card:nth-child(3)::after
{
    background: linear-gradient(235deg, #772aff,#764ac3, #772aff);
}
.pcontainer .card:nth-child(4)::before,
.pcontainer .card:nth-child(4)::after
{
    background: linear-gradient(235deg, #d80d4deb,#d80d4deb, #d80d4deb);
}
.pcontainer .card:nth-child(5)::before,
.pcontainer .card:nth-child(5)::after
{
    background: linear-gradient(235deg, #20c4aeeb,#20c4aeeb, #20c4aeeb);
}
.pcontainer .card:nth-child(6)::before,
.pcontainer .card:nth-child(6)::after
{
    background: linear-gradient(235deg, #00bcd4,#00bcd4, #00bcd4);
}
.pcontainer .card .details
{
    font-family: 'Bangers', cursive;
}
.pcontainer .card:hover
{
    z-index: 10;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5);
}
.pcontainer .card .imgBox
{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.pcontainer .card:hover .imgBox
{
    transform: rotateY(-135deg);
}
.pcontainer .card .imgBox .img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pcontainer .card .details p
{
    color: #000;
    font-weight: 700;
}
.pcontainer .card .details, .pcontainer .card .kM
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.pcontainer .card  a
{
    position: relative;
    padding: 6px 20px;
    top: 310px;
    left: 60px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    transition: 0.5s;
}
.pcontainer .card a:hover
{
    background-color: black;
    color: white;
}
/* Projects Section End */

/* Certificates section */

.certificates .heading
{
    letter-spacing: 15px;
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: -20px;
}
.certificates
{
    background: url(images/bg3.jpg);
    background-size: cover;
}
.cert 
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    min-height: 100vh;
}

.cert .container
{
    position: relative;
    width: 900px;
    height: 650px;
    background: #fff;
}
.cert .container .slide::before
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    /* background: #fff; */
    z-index: -1;
}
.cert .container .slide::after
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    /* background: #fff; */
    z-index: -2;
    filter: blur(40px);
}
.cert .container .slide::before,
.cert .container .slide::after
{
    background: linear-gradient(235deg, #00bcd4,#000, #d40000); /*#010615*/
}
.cert .container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
}
.cert .container:hover::before
{
    top: -40px;
    left: -40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}

.cert .container .slide
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.cert .container .slide div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.cert .container .slide div.active
{
    opacity: 1;
    visibility: visible;
}
.cert .container .slide div img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.control
{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 160px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.cert .container:hover .control
{
    bottom: -40px;
    right: -80px;
}
.next, .prev
{
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    background: #ff0;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.next
{
    background: rgb(0, 255, 55);
    bottom: 80px;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.prev
{
    bottom: 0px;
    right: 0;
}

/* .certificates section End */
img
{
    max-width: 100%;
}

.heading.white
{
    color: #fff;
}

.contact
{
    background: #111;
}
.formBx
{
    min-width: 60%;
}
.formBx form
{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formBx form textarea
{
    min-height: 180px;
}
.formBx form input::placeholder
.formBx form textarea::placeholder
{
    color: #999;
}
.formBx form input[type="button"]
{
    display: inline-block;
    padding: 25px 30px;
    margin: 10px 180px;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.formBx form input[type="button"]:hover
{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.contactInfo
{
    min-width: 40%;
}
.contactInfoBx
{
    position: relative;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright
{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Responsive */

@media (max-width: 991px)
{
    header,
    header.sticky
    {
        padding: 10px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top: 49.44px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active
    {
        left: 0;
    }
    header ul li a 
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle 
    {
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active
    {
        background: url(images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2 
    {
        font-size: 24px;
    }
    .contentBx h3 
    {
        font-size: 20px;
    }
    
    .content
    {
        flex-direction: column;
    }
    .w50 
    {
        margin-bottom: 20px;
    }
    .services .content .servicesBx
    {
        margin: 10px;
    }
    .work .content .workBx 
    {
        width: 100%;
        padding: 10px;
    }
    .testimonial .content .testimonialBx 
    {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: #2196f3;
    }
    .testimonial .content .testimonialBx h3 {
        margin-top: 20px;
    }
    .contactInfo 
    {
        min-width: 40%;
        margin: 20px 0;
    }
}
@media (max-width: 600px)
{
    header,
    header.sticky
    {
        padding: 20px 20px;
        z-index: 1000;
    }
    .banner {
        padding: 150px 20px 100px;
    }
    section 
    {
        padding: 100px 20px;
    }
    .formBx form input[type="submit"] {
        margin: 7px 112px;
}
}

/* Scroll bar*/
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top,#008aff,#00ffe7);
     animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}

@media(max-width:1000px){
    .quote .qbox{
        width: 100%;
        left:0px;
        top:230px;
        margin:50px 0px;
    }

}




@media(max-width:700px){

.quotebox .container .tarun{

    font-size: 30px;
}


}
